div{
    width: 200px;
    border-color: blue;
}
img{
    border-radius: 50%;
    width: 600px;
    animation-name: animation;
    animation-duration: 10s;
}
body{
font-family: 'Courier New', Courier, monospace;
background-image:url(https://kartinkis.cdnbro.com/posts/825915-geometricheskie-serye-fony-47.jpg) ;
background-repeat:repeat-x;
}
h1{
    color: whitesmoke;
    text-shadow: 1px 1px 1px fuchsia;
}
ul{
    list-style-type: square;
}
p{
    color: white;
}
a{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
